---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import MainLayout from "../../layouts/MainLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<MainLayout>
  <main>
    <section>
      <ul class="flex flex-wrap gap-8">
        {
          posts.map((post) => (
            <li class="bg-slate-200 rounded-3xl p-4">
              <p>{post.data.heroImage}</p>
              {post.data.heroImage && (
                <img
                  src={post.data.heroImage}
                  alt={post.data.title}
                  class="w-full h-48 object-cover rounded-2xl mb-4"
                />
              )}
              <a href={`/blog/${post.slug}/`}>
                <h4>{post.data.title}</h4>
                <p>
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</MainLayout>
