---
const { eventName, heroImage, date, location, projectName, links, tech } =
  Astro.props;
---

<astro:card class="bg-slate-100 p-6 rounded-3xl">
  {heroImage && <img src={heroImage} alt="Project Photo" class="max-w-96" />}
  <h3>{eventName}</h3>
  <p>{date}</p>

  <h2>{projectName}</h2>
  <p>{location}</p>

  {
    tech && (
      <ul class="flex flex-wrap">
        {tech.map((t: string) => {
          return (
            <li class="bg-slate-300 text-slate-900 rounded-full px-2 py-1 m-1">
              {t}
            </li>
          );
        })}
      </ul>
    )
  }

  <ul class="flex flex-col">
    {
      links &&
        links.map((link: { url: string; name: string }) => {
          return (
            <li>
              <a href={link.url}>• {link.name}</a>
            </li>
          );
        })
    }
  </ul>
</astro:card>